extends manage_base.pug

block above_the_table
    .container.text-center
        .row
            .col-md-4.offset-md-4
                button.btn.btn-info(type='button') Create new station

block choose_default_open
    a(href=`/metroadmin/cities/`)
        button.tablinks(onclick="openCity(event, 'Cities')") Cities
    a(href=`/metroadmin/trains/`)
        button.tablinks(onclick="openCity(event, 'Trains')") Trains
    button#defaultOpen.tablinks(onclick="openCity(event, 'Stations')") Stations
    a(href=`/metroadmin/bookings/`)
        button.tablinks(onclick="openCity(event, 'Bookings')") Bookings

block content
    #Stations.tabcontent
        table.table.table-bordered
            thead
                tr
                    th Station Code
                    th Name
                    th Latitute
                    th Longitude
                    th City
                    th 
                    th
            tbody  
                each val, key in all_stations
                    tr
                        each val1, key1 in val  
                            if key1 == "stationcode"
                                td #{val1}
                            if key1 == "name"
                                td #{val1}
                            if key1 == "latitude"
                                td #{val1}
                            if key1 == "longitude"
                                td #{val1}
                            if key1 == "city"
                                td #{val1[0].name}    
                                td(width='6%') 
                                    button.btn.btn-primary(type='button').btn-sm Update
                                td(width='6%')
                                    button.btn.btn-danger(type='button').btn-sm Remove