extends manage_base.pug

block above_the_table
    .container.text-center
        if message
            .alert.alert-warning
                strong Warning! #{message}

block choose_default_open
    a(href=`/metroadmin/cities/`)
        button.tablinks(onclick="openCity(event, 'Cities')") Cities
    button#defaultOpen.tablinks(onclick="openCity(event, 'Trains')") Trains
    a(href=`/metroadmin/stations/`)
        button.tablinks(onclick="openCity(event, 'Stations')") Stations
    a(href=`/metroadmin/bookings/`)
        button.tablinks(onclick="openCity(event, 'Bookings')") Bookings

block content
    #Trains.tabcontent
        .container
        h2 Update train 
        br
        form(action='/metroadmin/trains/update/'+train[0].code method='POST')
            .row
                .col
                    select.selectpicker(title='Choose city', name="cityname" data-width="100%")
                        each val, key in cities
                            tr
                                each val1, key1 in val  
                                    if key1 == "name"
                                        option #{val1}                        
                .col
                    select#first.selectpicker(title='Choose first station', name="fromStation" data-width="100%")
                        each val, key in stations
                            tr
                                each val1, key1 in val  
                                    if key1 == "name"
                                        option #{val1}
                .col
                    select#last.selectpicker(title='Choose last station', name="toStation" data-width="100%")
                        each val, key in stations
                            tr
                                each val1, key1 in val  
                                    if key1 == "name"
                                        option #{val1}
                .col
                    select.selectpicker(multiple='', title='Choose all the stops', name="stops" data-width="100%")
                        each val, key in stations
                                tr
                                    each val1, key1 in val  
                                        if key1 == "name"
                                            option #{val1}
            br
            .row
                .col
                    input.form-control(type='text', placeholder='Enter the start time of the train', name='start_time', value = train[0].start_time)
                .col
                    input.form-control(type='text', placeholder='Enter the end time of the train', name='end_time', value = train[0].end_time)
                .col
                    input.form-control(type='text', placeholder='Enter the capacity of the train', name='capacity', value = train[0].capacity)
            br
            .row.center   
                .col
                    button.btn.btn-primary.btn-lg(type='submit') Submit
                .col
                    a(href=`/metroadmin/trains/`)
                        button.btn.btn-secondary.btn-lg(type='button') Go Back